---
import { Main } from '../components/Main'
import { ToggleLightDark } from '../components/ToggleLightDark'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Simple toDo_ | Frontend Mentor'>
	<header class='flex gap-2 justify-between items-center py-8 max-w-xl'>
		<div class='text-lm-5 dark:text-dm-1'>
			<h1 class='text-3xl font-bold inline-block leading-6'>Simple toDo_</h1>
			<span class='text-xs'>by Strocs.</span>
		</div>
		<ToggleLightDark client:only />
	</header>
	<Main client:load />
</Layout>
