---
import { Main } from '../components/Main'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import Instructions from '../components/Instructions.astro';
---

<Layout title='Simple toDo_ | Frontend Mentor'>
	<Header />
	<Main client:load>
		<Instructions />
	</Main>
</Layout>
