@import url(../../node_modules/reset-css/reset.css);

:root {

  /* Colors */
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Bright-blue-2: hsla(245, 75%, 52%, 0.493);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Desaturated-blue-2: hsla(224, 61%, 57%, 0.219);
  --Dark-blue: hsl(223, 47%, 23%);

/* Typography */
  --font-size: 16px;

 /* Font */
  --font-family: 'Red Hat Display', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--Pale-blue) url(../assets/pattern-background-mobile.svg) no-repeat top;
  background-size: 100% 50vmin;
  color: var(--Desaturated-blue);
  font-family: var(--font-family);
  font-size: var(--font-size);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: white;
  min-width: 32.5rem;
  max-width: 44rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 3rem 3rem -1.5rem var(--Desaturated-blue-2);
}

.card-image {
  width: 100%;
}

.info-container {
  margin: 3.6rem 0;
  width: 86%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
}

.info-title {
  font-size: 2.2rem;
  color: var(--Dark-blue);
  font-weight: 800;
}

.info-description {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 0 1rem;
}

.info-plan {
  background-color: var(--Very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  border-radius: 1.3rem;
  font-size: 1.4rem;
}

.plan-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.choose-name {
  font-weight: 800;
  color: var(--Dark-blue);
  margin-bottom: .8rem;
}

.plan-change {
  color: var(--Bright-blue);
  font-weight: 800;
  font-size: .9em;
  transition: all 160ms ease;
}

.plan-change:hover {
  color: var(--Bright-blue-2);
  text-decoration: none;
}

.info-payment {
  border: none;
  background-color: var(--Bright-blue);
  color: white;
  padding: 1.6rem;
  border-radius: 1.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 2.4rem 1.6rem -.4rem var(--Desaturated-blue-2);
  cursor: pointer;
  transition: background-color 160ms ease;
}

.info-payment:hover {
  background-color: var(--Bright-blue-2);
}

.info-cancel {
  font-size: 1.5rem;
  font-weight: 800;
}

.cancel-link {
  color: var(--Desaturated-blue);
  text-decoration: none;
  transition: color 160ms ease;
}

.cancel-link:hover {
  color: var(--Dark-blue);
}


@media (min-width: 440px) {
  body {
    background: var(--Pale-blue) url(../assets/pattern-background-desktop.svg) no-repeat top;   
    background-size: contain;
  }
  .info-container {
    margin: 5rem 0;
    width: 80%;
  }
  .info-title {
    font-size: 2.7rem;
  }
  .info-plan {
    padding: 2.2rem;
    font-size: 1.6rem;
  }
}