---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en' class=''>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml+png' href='/favicon-32x32.png' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<script is:inline>
			const isDarkMode = localStorage.getItem('dark-mode-enabled')
			const theme = isDarkMode === 'true' ? 'dark' : ''
			document.querySelector('html').className = theme
		</script>
	</head>
	<body class='flex flex-col items-center justify-center w-full h-full bg-bg-light dark:bg-bg-dark px-8 sm:px-10'>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

	:root {
		font-family: 'Poppins', sans-serif;
		--primary-light: hsl(221, 24%, 97%); /* Sections Light */
		--bg-light: hsl(221, 24%, 87%); /* BG Light */
		--placeholder-light: hsl(221, 10%, 60%); /* Placeholder light */
		--placeholder-dark: hsl(221, 10%, 50%); /* dakr placeholder */
		--dark-extra: hsl(221, 24%, 15%); /* skeleton loading for dark */
		--primary-dark: hsl(221, 24%, 10%); /* Sections Dark */
		--bg-dark: hsl(221, 24%, 5%); /* BG Dark */
	}

	* {
		/* transition: all 100ms ease; */
	}
</style>
