.balance-container {
  background-color: var(--Soft-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--borderPadding);
  border-radius: 1rem;
  color: var(--Very-pale-orange);
  letter-spacing: .05rem;
}

.balance-data {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
}

.data-title {
  font-size: 1.5rem;
}

.data-balance {
  font-size: 2.4rem;
  font-weight: 500;
}

.balance-logo {
  width: 6.2rem;
}

@media (min-width: 560px) {
  .balance-container {
    padding: 3.2rem 3.6rem;
    border-radius: 2rem;
  }
  
  .balance-data {
    gap: 1.4rem;
  }
  
  .data-title {
    font-size: 1.6rem;
  }
  
  .data-balance {
    font-size: 3rem;
  }
  
  .balance-logo {
    width: 7rem;
  }
}