.spending-days {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5rem 0 2.6rem;
  height: 19rem;
}

.days-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

}

.days-bar div {
  margin-bottom: 1.6rem;
  border-radius: .4rem;
  width: 3.2rem;
  transition: filter 100ms ease;
  cursor: pointer;
  position: relative;
}

.days-bar div:hover {
  filter: brightness(1.2);
}

.bar-amount {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3.4rem;
  left: -.8rem;
  padding: .8rem;
  background-color: var(--Dark-brown);
  color: var(--Very-pale-orange);
  font-weight: 500;
  font-size: 1.2rem;
}

.days-bar div:hover > .bar-amount {
  display: flex;
}
.bar {
  background-color: var(--Soft-red);
}

.bar-max {
  background-color: var(--Cyan);
}

.days-bar p {
  color: var(--Medium-brown);
  font-size: 1.2rem;
  font-weight: 500;
}

@media (min-width: 560px) {
  .spending-days {
    margin: 6rem 0 3.2rem;
    height: 18rem;
  }
  
  .days-bar div {
    margin-bottom: 1.2rem;
    width: 4.8rem;
  }
  
  .bar-amount {
    top: -4.6rem;
    left: -1.1rem;
    padding: 1.1rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  .days-bar p {
    font-size: 1.6rem;
  }
}