---
export interface Props {
	title: string
	favicon: string
}

const { title, favicon } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml+png' href={favicon} />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link href='https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap' rel='stylesheet' />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Kumbh Sans', sans-serif;
	}
</style>
