.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 5rem;
  box-shadow: var(--boxShadow);
}

.dark {
  background-color: var(--Dark-Mode-Elements);
  box-shadow: var(--darkBoxShadow);
}

.header>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 1rem;
  max-width: var(--desktopMaxWidth);
  height: 100%;
  width: 100%;
}

.header h1 {
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 37.5rem) {
  .header>div {
    margin: auto 2rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}