.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 2rem;
}

.filters__wrapper {
  max-width: var(--desktopMaxWidth);
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

@media (min-width: 37.5rem) {
  .filters__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}